# Easier navigation .., ..2, ..3, ..4
alias ..="cd .."
alias ..2="cd ../.."
alias ..3="cd ../../.."
alias ..4="cd ../../../.."
alias zipinfo="zipinfo -mtz"

# Shortcuts
alias p="cd ~/Documents/Projekte"
alias o="open"
alias oo="open ."

# List all files colorized in long format
alias ll="ls -lhGO"

# List all files colorized in long format, including dot files
alias lla="ll -a"

# Color for grep
alias grep='grep --color=auto'

# List only directories | list only non-dirs
alias lld='ll | grep "^d\|^l"'
alias llf='ll | grep -v "^d"'
alias llda='lla | grep "^d\|^l"'
alias llfa='lla | grep -v "^d"'


# Recursively delete `.DS_Store` files
alias dscleanup="find . -type f -name '*.DS_Store' -ls -delete"

##maybe add some more logs which can savely be deleted
# Clear Apple’s System Logs to improve shell startup speed
alias cleanlogs="sudo rm -rfv /private/var/log/asl/*.asl"

#some git power
alias gitlog='git log --date-order --reverse --all --format="%C(green)%H%Creset %C(yellow)%an%Creset %C(blue bold)%ar%Creset %C(red bold)%d%Creset%s" | tail -n 50'


alias untar="tar xvf"
alias tart="tar cvf"
alias tarz="tar czvf"

alias sha256="shasum -a 256"
alias sha512="shasum -a 512"

alias saturn="ssh saturn"
alias jupiter="ssh jupiter"
alias uber="ssh uber"
alias pi="ssh pi"
