# Easier navigation .., ..2, ..3, ..4
alias ..="cd .."
alias ..2="cd ../.."
alias ..3="cd ../../.."
alias ..4="cd ../../../.."

# Shortcuts
alias p="cd ~/Documents/Projekte"
alias o="open"
alias oo="open ."

# List all files colorized in long format
alias ll="ls -lhG"

# List all files colorized in long format, including dot files
alias lla="ls -lhGa"

# Color for grep
alias grep='grep --color=auto'

# List only directories | list only non-dirs
alias lld='ll | grep "^d"'
alias llf='ll | grep -v "^d"'

##I didn't try homebrew yet...
##needs to be changed for fink and port
# Get OS X Software Updates, update Homebrew itself, and upgrade installed Homebrew packages
#alias update='sudo softwareupdate -i -a; brew update; brew upgrade'

# Recursively delete `.DS_Store` files
alias dscleanup="find . -type f -name '*.DS_Store' -ls -delete"

##maybe add some more logs which can savely be deleted
# Clear Apple’s System Logs to improve shell startup speed
alias cleanlogs="sudo rm -rfv /private/var/log/asl/*.asl"

#some git power
alias gitlog='git log --date-order --reverse --all --format="%C(green)%H%Creset %C(yellow)%an%Creset %C(blue bold)%ar%Creset %C(red bold)%d%Creset%s" | tail -n 50'


##this could be made useful, but no growlnotify on my mac?
#alias hax="growlnotify -a 'Activity Monitor' 'System error' -m 'WTF R U DOIN'"

